@tailwind base;
@tailwind components;
@tailwind utilities;

#app {
  @apply flex flex-col w-full;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }
}

@layer components {
  .btn {
    @apply border-2 m-2 py-2 px-1 min-w-36 rounded-md;
  }
  .card {
    @apply flex justify-around items-end bg-white rounded-xl shadow-md border-2 p-4 my-3 w-80;
    > div {
      @apply w-full;
    }
  }

  label {
    @apply mx-2;
  }
  input {
    @apply m-2 p-1 bg-slate-100 rounded-md;
  }

  span[role='alert'] {
    @apply text-red-600;
  }
}
